<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")    
    <link rel="stylesheet" href="~/Content/components.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/details.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/tabs.css" type="text/css" />    
</head>
<body>
    <div class="container">
        <section class="container_left">
            <div class="details">
                <div class="row">
                    <div class="horizontal-column">
                        <input id="pidm" placeholder="Pidm"/>
                        <button class="btn btn-small" id="pidm-btn">Buscar</button>
                    </div>
                </div>
            </div>
            <div class="details" id="details" style="display:none">
                <div class="details_image-container">
                    <img id="details-imagen" alt="User"/>                    
                    @*<div class="details_image-container-button">
                        <button class="btn">Cargar Imagen</button>
                    </div>*@
                </div>
                <div class="details_title row">    
                    <div class="column">
                        <h1 id="details-nombre"></h1>
                        <div style="display:flex; flex-direction: row;">
                            <p id="details-carrera" style="flex:1"></p>
                            <p id="details-otraCarrera" style="flex:1"></p>
                        </div>
                    </div>
                </div>
                <div class="details_details">
                    <div class="row">
                        <div class="horizontal-column">
                            <p>Matricula:</p>                        
                            <strong style="margin-left: 0.5rem;" id="details-matricula"></strong>                        
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <p>Fecha nacimiento</p>
                            <strong style="margin-top: 0.3rem;" id="details-fechaNacimiento"></strong>
                        </div>
                        <div class="column">
                            <p>Ciudad origen</p>
                            <strong style="margin-top: 0.3rem;" id="details-ciudadOrigen"></strong>
                        </div>
                    </div>
                    <div class="row">                       
                        <div class="column">
                            <p>Semestre</p>
                            <strong style="margin-top: 0.3rem;" id="details-semestre"></strong>
                        </div>
                        <div class="column">
                            <p>Nacionalidad</p>
                            <strong style="margin-top: 0.3rem;" id="details-nacionalidad"></strong>
                        </div>
                    </div>
                    <div class="row">                        
                        <div class="column">
                            <p>Estado</p>
                            <strong style="margin-top: 0.3rem;" id="details-estado"></strong>
                        </div>
                    </div>
                </div>       
            </div>   
            <div class="details" id="details-skeleton">
                <div class="details_image-container">
                    <div class="skeleton skeleton-image"></div>             
                </div>
                <div class="details_title row">    
                    <div class="column">
                        <div class="skeleton skeleton-text"></div>
                    </div>
                </div>
                <div class="details_details">
                    <div class="row">
                        <div class="horizontal-column">
                            <div class="skeleton skeleton-text"></div>                   
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <div class="skeleton skeleton-text"></div>
                        </div>
                        <div class="column">
                            <div class="skeleton skeleton-text"></div>
                        </div>
                    </div>
                    <div class="row">                       
                        <div class="column">
                            <div class="skeleton skeleton-text"></div>
                        </div>
                        <div class="column">
                            <div class="skeleton skeleton-text"></div>
                        </div>
                    </div>
                    <div class="row">                        
                        <div class="column">
                            <div class="skeleton skeleton-text"></div>
                        </div>
                    </div>
                </div>       
            </div>  
        </section>
        <section class="container_right">
            <div class="tabs">
                <a class="tablinks" href="@Url.Action("Index", "Home")" id="tab-informacion">Información general</a>
                <a class="tablinks" href="@Url.Action("Index", "DatosAdministrativos")" id="tab-administrativos">Datos administrativos</a>
                <a class="tablinks" href="@Url.Action("Index", "DatosAcademicos")" id="tab-academicos">Datos académicos</a>
            </div>
            <div>
                @RenderBody()        
            </div>
        </section>
    </div>
    
    @Scripts.Render("~/bundles/jquery")    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/services/personal.service.js"></script>
    <script>        

        function setActiveMenu(){
            const controller = window.location.pathname;
            if(controller === "/"){
                $("#tab-informacion").addClass("active");
                return;
            }

            if(controller === "/DatosAdministrativos"){
                $("#tab-administrativos").addClass("active");
                return;
            }

            if(controller === "/DatosAcademicos"){
                $("#tab-academicos").addClass("active");
                return;
            }            
        }

        function setPidm() {
            (async function () {
                const pidm = $("#pidm").val();

                if (!pidm) {
                    return;
                }

                const response = await getPidm(pidm);
                if (!response) {
                    console.error("ocurrio un error");
                    return;
                }

                const controller = window.location.pathname;
                if (controller === "/") {
                    domIsReadyGeneralInfo();
                }

                if (controller === "/DatosAdministrativos") {
                    domIsReadyAdministrativeInfo();
                }

                //if (controller === "/DatosAcademicos") {
                //    $("#tab-academicos").addClass("active");
                //}      
                domIsReady();
            })();
        }

        function domIsReady(){
            (async function() {
                const initialSettings = await getPersonalInformation();

                if(!initialSettings){
                    console.error("Ocurrio un error inesperado.");
                    return;
                }

                for (let key in initialSettings) {
                    if (key === "imagen") {
                        $(`#details-${key}`).attr("src", initialSettings[key]);
                    }
                    $(`#details-${key}`).html(initialSettings[key]);
                }

                toggleDetailsLoader();            
            })();
        }

        function toggleDetailsLoader(){
            $(`#details`).attr("style", "display: block");
            $(`#details-skeleton`).attr("style", "display: none");
        }

        setActiveMenu();
        $(document).ready(domIsReady);
        $("#pidm-btn").click(setPidm);
    </script>
</body>
</html>
