<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="~/Content/components.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/details.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/tabs.css" type="text/css" />
    @RenderSection("css", required: false)
</head>
<body>
    <div class="container">
        <section class="container_left">
            @if (ViewBag.Server == "TEST")
            {
                <div class="details">
                    <div class="row">
                        <div class="horizontal-column">
                            <input id="matricula" placeholder="Matricula" />
                            <button class="btn btn-small" id="matricula-btn">Buscar</button>
                        </div>
                    </div>
                </div>
            }
            <div class="details" id="details">
                <div class="details_image-container">
                    <div class="row" style="justify-content: center;">
                        <img id="details-imagen" alt="User" style="width: 70%" />
                        <p id="details-imagen-noImage" style="display:none">Sin foto<p>
                            @*<div class="details_image-container-button">
                                    <button class="btn">Cargar Imagen</button>
                                </div>*@
                    </div>
                </div>
                <div class="details_title">
                    <div class="row">
                        <div class="column">
                            <h1 id="details-nombre"></h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <p id="details-carrera"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <p id="details-otraCarrera"></p>
                        </div>
                    </div>
                </div>
                <div class="details_details">
                    <div class="row">
                        <div class="horizontal-column">
                            <p>Matrícula:</p>
                            <strong style="margin-left: 0.5rem;" id="details-matricula"></strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <p>Fecha nacimiento</p>
                            <strong style="margin-top: 0.3rem;" id="details-fechaNacimiento"></strong>
                        </div>
                        <div class="column">
                            <p>Ciudad origen</p>
                            <strong style="margin-top: 0.3rem;" id="details-ciudadOrigen"></strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <p>Semestre</p>
                            <strong style="margin-top: 0.3rem;" id="details-semestre"></strong>
                        </div>
                        <div class="column">
                            <p>Nacionalidad</p>
                            <strong style="margin-top: 0.3rem;" id="details-nacionalidad"></strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <p>Estado</p>
                            <strong style="margin-top: 0.3rem;" id="details-estado"></strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <p>Escuela de procedencia</p>
                            <strong style="margin-top: 0.3rem;" id="details-preparatoriaProcedencia"></strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="details" id="details-skeleton" style="display:none">
                <div class="details_image-container">
                    <div class="skeleton skeleton-image"></div>
                </div>
                <div class="details_title row">
                    <div class="column">
                        <div class="skeleton skeleton-text"></div>
                    </div>
                </div>
                <div class="details_details">
                    <div class="row">
                        <div class="horizontal-column">
                            <div class="skeleton skeleton-text"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <div class="skeleton skeleton-text"></div>
                        </div>
                        <div class="column">
                            <div class="skeleton skeleton-text"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <div class="skeleton skeleton-text"></div>
                        </div>
                        <div class="column">
                            <div class="skeleton skeleton-text"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <div class="skeleton skeleton-text"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container_right">
            <div class="tabs">
                <a class="tablinks" href="@Url.Action("Index", "Home")" id="tab-informacion">Datos Personales</a>
                <a class="tablinks" href="@Url.Action("Index", "DatosAdministrativos")" id="tab-administrativos">Datos administrativos</a>
                <a class="tablinks" href="@Url.Action("Index", "DatosAcademicos")" id="tab-academicos">Datos académicos</a>
                <a class="tablinks" href="@Url.Action("Index", "DatosAcompaniamiento")" id="tab-acompaniamiento">Datos acompañamiento</a>
                <a class="tablinks" href="@Url.Action("Index", "DatosAdmision")" id="tab-admision">Datos de admisión</a>
                <a class="tablinks" href="@Url.Action("Index", "Residencias")" id="tab-residencias">Residencias</a>
            </div>
            <div>
                @RenderBody()
            </div>
        </section>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/services/personal.service.js"></script>
    <script>

        moment.lang('es', {
            months: 'Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre'.split('_'),
            monthsShort: 'Enero._Feb._Mar_Abr._May_Jun_Jul._Ago_Sept._Oct._Nov._Dec.'.split('_'),
            weekdays: 'Domingo_Lunes_Martes_Miercoles_Jueves_Viernes_Sabado'.split('_'),
            weekdaysShort: 'Dom._Lun._Mar._Mier._Jue._Vier._Sab.'.split('_'),
            weekdaysMin: 'Do_Lu_Ma_Mi_Ju_Vi_Sa'.split('_')
        });


        function setActiveMenu() {
            const controller = window.location.pathname;
            if (controller === "/") {
                $("#tab-informacion").addClass("active");
                return;
            }

            if (controller === "/DatosAdministrativos") {
                $("#tab-administrativos").addClass("active");
                return;
            }

            if (controller === "/DatosAcademicos") {
                $("#tab-academicos").addClass("active");
                return;
            }

            if (controller === "/DatosAcompaniamiento") {
                $("#tab-acompaniamiento").addClass("active");
                return;
            }

            if (controller === "/DatosAdmision") {
                $("#tab-admision").addClass("active");
                return;
            }

            if (controller === "/Residencias") {
                $("#tab-residencias").addClass("active");
                return;
            }
        }

        function setPidm() {
            (async function () {
                const matricula = $("#matricula").val();

                if (!matricula) {
                    return;
                }

                const response = await getPidm(matricula);
                if (!response) {
                    console.error("ocurrio un error");
                    return;
                }

                const controller = window.location.pathname;
                if (controller === "/") {
                    domIsReadyGeneralInfo();
                }

                if (controller === "/DatosAdministrativos") {
                    domIsReadyAdministrativeInfo();
                }

                domIsReady();
            })();
        }

        function domIsReady() {
            (async function () {
                toggleDetailsLoader();
                const initialSettings = await getPersonalInformation();

                if (!initialSettings) {
                    toggleDetailsLoader();
                    console.error("Ocurrio un error inesperado.");
                    return;
                }

                for (let key in initialSettings) {
                    if (key === "imagen") {
                        if (initialSettings[key] === "----") {
                            $("#details-imagen").attr("style", "display:none");
                            $("#details-imagen-noImage").attr("style", "display:block");
                            continue;
                        }
                        $(`#details-${key}`).attr("src", initialSettings[key]);
                        continue;
                    }
                    $(`#details-${key}`).html(initialSettings[key]);
                }

                toggleDetailsLoader();
            })();
        }

        function toggleDetailsLoader() {
            if ($("#details:hidden").length === 1) {
                $(`#details`).attr("style", "display: block");
                $(`#details-skeleton`).attr("style", "display: none");
                return;
            }

            $(`#details-skeleton`).attr("style", "display: block");
            $(`#details`).attr("style", "display: none");
        }

        function handleCardHeaderClick() {
            const arrowDownElement = $(this).find(".fa-arrow-down")[0];
            const arrowUpElement = $(this).find(".fa-arrow-up")[0];
            const cardIsVisible = $(arrowDownElement).is(":visible");
            if (cardIsVisible) {
                setHiddenCard(this);
                return;
            }
            setVisibleCard(this);

            function setHiddenCard(instancia) {
                $(arrowDownElement).attr("style", "display: none");
                $(arrowUpElement).attr("style", "display: block");
                const cardBody = $(instancia).parent().find(".card-body")[0];
                $(cardBody).attr("style", "display: none");
            }

            function setVisibleCard(instancia) {
                $(arrowDownElement).attr("style", "display: block");
                $(arrowUpElement).attr("style", "display: none");
                const cardBody = $(instancia).parent().find(".card-body")[0];
                $(cardBody).attr("style", "display: block");
            }
        }

        setActiveMenu();
        $(document).ready(domIsReady);
        $("#matricula-btn").click(setPidm);
        $(".card-header").click(handleCardHeaderClick)
    </script>
</body>
</html>
